.TodoForm {
    position: relative;
    width: 100%;
    max-width: 400px;
    margin: 0 auto 3vh auto;
}

.todo-icon {
    position: absolute;
    left: 30px;
    top: 50%;
    transform: translateY(-50%);
    color: #000;
}

.todo-icon{
    cursor: pointer;
    color: #fff;
}

.todo-input {
    width: 75%;
    padding: 15px 10px 15px 45px;
    border: 1.5px solid #ccc;
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
    border-radius: 10px;
    font-size: 15px;
}

.todo-input::placeholder {
    padding-left: 0.5vw;
    color: #fff;
    font-style: italic;
}

.todo-dropdown {
    position: absolute;
    right: 30px;
    top: 10%;
    border: 1.5px solid #fff;
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
    border-radius: 10px;
    padding: 10px;
    font-size: 15px;
}

.todo-dropdown option {
    background-color: #2c3e50;
    color: #fff;
}

.todo-dropdown:hover{
    background-color: #e0e0e07a;
    cursor: pointer;
}

.todo-btn {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
    font-size: 15px;
    color: #000;
}

@media screen and (max-width: 850px) {
    .todo-input {
        padding: 9px 33px 9px 9px;
        font-size: 12px;
    }
    .todo-input::placeholder {
        padding-left: 4vw;
    }
    .todo-dropdown {
        font-size: 12px;
        padding: 5px;
    }
}

@media screen and (max-width: 450px) {
    .todo-input::placeholder {
        padding-left: 7vw;
    }
}

@media (prefers-color-scheme: dark) {
    
}
