.TodoForm {
    position: relative;
    width: 100%;
    max-width: 400px;
    margin: 0 auto 3vh auto;
}

.todo-input {
    width: 75%;
    padding: 10px 40px 10px 10px;
    border: 1.5px solid #ccc;
    border-radius: 10px;
    font-size: 15px;
}

.todo-input::placeholder{
    padding-left: 0.5vw;
    font-style: italic;
}

.todo-btn {
    position: absolute;
    right: 30px;
    top: 25%;
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
    font-size: 20px;
    color: #000;
}

@media screen and (max-width: 800px) {
    .todo-input{
        padding: 8px 32px 8px 8px;
        font-size: 12px;
    }
}
