.TodoCard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1.5px solid #ccc;
    border-radius: 10px;
    margin: 10px auto;
    color: #fff;
    width: 90%;
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.TodoCard.incompleted {
    background-image: linear-gradient(to left, #7f7fd5, #86a8e7, #91eae4b4);
}

.TodoCard.completed {
    text-decoration: line-through;
    background-image: linear-gradient(to left, #43cea2, #185a9d);
}

.TodoCard:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.icon {
    color: #fff;
}

.icon:hover {
    cursor: pointer;
    color: #ffd700;
}

.TodoCard p {
    margin: 0;
    flex: 1;
    word-break: break-word;
    cursor: pointer;
    transition: color 0.3s ease;
}

.TodoCard p:hover {
    color: #ffd700;
}

.TodoCard div {
    display: flex;
    gap: 15px;
}

.todo-dates {
    font-size: 0.9rem;
    font-style: italic;
    color: wheat;
    display: flex;
    justify-content: space-between;
    padding: 0px 3.5%;
}

@media screen and (max-width: 850px) {
    .TodoCard {
        padding: 8px;
        width: 95%;
    }

    .TodoCard div {
        gap: 10px;
    }

    .todo-dates{
        padding: 0px 1.5%;
    }
}

@media screen and (max-width: 650px) {
    .todo-dates{
        display: flex;
        flex-direction: column;
    }
    .todo-dates span{
        padding-bottom: 7px;
    }
}

@media screen and (max-width: 450px) {
    .TodoCard {
        padding: 5px;
        width: 95%;
    }

    .TodoCard div {
        gap: 7px;
    }

    .todo-dates{
        font-size: 0.8rem;
    }
}

@media (prefers-color-scheme: dark) {
    .TodoCard {
        border: 1.5px solid #fff;
        color: #e0e0e0;
        background-color: #333;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
    }

    .TodoCard.incompleted {
        background-image: linear-gradient(to left, #41416e, #425474, #46726f);
    }

    .TodoCard.completed {
        background-image: linear-gradient(to left, #1a4e3e, #0c2b4b);
    }

    .icon {
        color: #e0e0e0;
    }

    .icon:hover {
        color: #ffcc00;
    }

    .TodoCard p:hover {
        color: #ffcc00;
    }
}