.TodoCard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1.5px solid #000;
    border-radius: 4px;
    margin-bottom: 10px;
    color: #000;
}

.TodoCard.incomplited{
    background-image: linear-gradient(to left, #b6fbff, #598edf);
}

.TodoCard.completed{
    text-decoration: line-through;
    background-color: #467ac9;
}

.TodoCard p {
    margin: 0;
    flex: 1;
}

.TodoCard p:hover{
    cursor: pointer;
}

.TodoCard div {
    display: flex;
    gap: 12px;
}
