.TodoCard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    border: 1.5px solid #000;
    border-radius: 4px;
    margin: 7px auto;
    color: #000;
    width: 80%;
}

.TodoCard.incomplited{
    background-image: linear-gradient(to left, #b6fbff, #598edf);
}

.TodoCard.completed{
    text-decoration: line-through;
    background-color: #467ac9;
}

.TodoCard p {
    margin: 0;
    flex: 1;
}

.TodoCard p:hover{
    cursor: pointer;
}

.TodoCard div {
    display: flex;
    gap: 12px;
}

@media screen and (max-width: 850px) {
    .TodoCard{
        padding: 5px;
    }
    .TodoCard div{
        gap: 10px;
    }
}

@media screen and (max-width: 650px) {
    .TodoCard div{
        gap: 5px;
    }
}

@media screen and (max-width: 500px) {
    .TodoCard div{
        gap: 2px;
    }
}