.TodoFooter {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px 0px;
    border-top: 1px solid #fff;
    background-color: #3a526b;
    text-align: center;
    letter-spacing: 0.5px;
    font-size: x-large;
}

.TodoFooter img {
    width: 24px;
    height: 24px;
    margin: 0px 0px -5px 7px;
    border-radius: 50px;
    object-fit: cover;
}

@media (prefers-color-scheme: dark) {
    .TodoFooter {
        background-color: #141c24;
    }
}

@media screen and (max-width: 800px) {
    .TodoFooter {
        font-size: large;
    }

    .TodoFooter img {
        width: 22px;
        height: 22px;
    }
}

@media screen and (max-width: 600px) {
    .TodoFooter {
        font-size: medium;
    }

    .TodoFooter img {
        width: 20px;
        height: 20px;
    }
}
