.TodoEdit {
    position: relative;
    width: 100%;
    max-width: 400px;
    margin: 1.5vh auto;
}

.todo-edit {
    width: 75%;
    padding: 10px 40px 10px 10px;
    border: 1.5px solid #000;
    border-radius: 10px;
    font-size: 15px;
    background-image: linear-gradient(to left, #b6fbff, #83a4d4);
    color: #000;
}

.todo-edit::placeholder {
    padding-left: 0.5vw;
    font-style: italic;
}

.todo-btn-edit {
    position: absolute;
    right: 30px;
    top: 25%;
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
    font-size: 20px;
    color: #000;
}

@media (prefers-color-scheme: dark) {
    .todo-edit {
        border: 1.5px solid #555;
        background-image: linear-gradient(to left, #444, #555);
        color: #f5f5f5;
    }

    .todo-edit::placeholder {
        color: #aaa;
    }

    .todo-btn-edit {
        color: #f5f5f5;
    }
}
