.TodoApp {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    text-align: center;
    color: white;
}

@media screen and (max-width: 800px) {
    .TodoApp h1 {
        font-size: x-large;
    }
}

@media (prefers-color-scheme: dark) {
    .TodoApp {
        color: #e0e0e0;
    }
}
