:root {
    --icon-color: #f5f5f5;
    --input-bc: rgba(255, 255, 255, 0.1);
}

/* -------------------------INPUT FOR ENTERING TODO----------------------- */
.TodoForm {
    position: relative;
    width: 100%;
    max-width: 400px;
    margin: 0 auto 3vh auto;
}

.todo-icon {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
    font-size: 15px;
    color: var(--icon-color);
}

.todo-input {
    width: 75%;
    padding: 15px 10px 15px 45px;
    border: 1.5px solid #ccc;
    background-color: var(--input-bc);
    color: #fff;
    border-radius: 10px;
    font-size: 15px;
}

.todo-input::placeholder {
    padding-left: 0.5vw;
    color: #fff;
    font-style: italic;
}

.todo-dropdown {
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    border: 1.5px solid #fff;
    background-color: var(--input-bc);
    color: #fff;
    border-radius: 10px;
    padding: 10px;
    font-size: 15px;
}

@keyframes shake {
    0%, 100% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
}
  
.shake {
    animation: shake 0.5s;
}
  
.error {
    border-color: red;
}

@media (prefers-color-scheme: dark) {
    .todo-icon {
        color: var(--dark-icon-color);
    }
}

@media screen and (max-width: 850px) {
    .todo-input {
        width: 80%;
        padding: 11px 35px 11px 11px;
        font-size: 13px;
    }

    .todo-input::placeholder {
        padding-left: 5.5vw;
    }

    .todo-icon {
        left: 12px;
    }

    .todo-dropdown {
        font-size: 12px;
        padding: 5px;
        right: 20px;
    }
}

@media screen and (max-width: 450px) {
    .todo-input {
        width: 85%;
    }

    .todo-input::placeholder {
        padding-left: 7.5vw;
    }

    .todo-icon {
        left: 7px;
    }

    .todo-dropdown {
        right: 10px;
    }
}

/* -------------------------COMMON----------------------- */

.todo-dropdown option,
.todo-edit-dropdown option {
    background-color: #2c3e50;
    color: #fff;
}

.todo-dropdown:hover,
.todo-edit-dropdown:hover {
    background-color: #e0e0e07a;
    cursor: pointer;
}

/* -------------------------INPUT FOR EDITING TODO----------------------- */
.TodoEdit {
    position: relative;
    width: 100%;
    max-width: 550px;
    margin: 1.5vh auto;
}

.todo-icon-edit {
    position: absolute;
    left: 25px;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
    font-size: 20px;
    color: var(--icon-color);
}

.todo-edit {
    width: 75%;
    padding: 15px 10px 15px 45px;
    border: 1.5px solid #ccc;
    background-color: var(--input-bc);
    color: #fff;
    border-radius: 10px;
    font-size: 15px;
}

.todo-edit::placeholder {
    padding-left: 0.5vw;
    color: #fff;
    font-style: italic;
}

.todo-edit-dropdown {
    position: absolute;
    right: 50px;
    top: 50%;
    transform: translateY(-50%);
    border: 1.5px solid #fff;
    background-color: var(--input-bc);
    color: #fff;
    border-radius: 10px;
    padding: 10px;
    font-size: 15px;
}

@media (prefers-color-scheme: dark) {
    .todo-edit {
        border: 1.5px solid #555;
        background-image: linear-gradient(to left, #496566, #3f4f66);
        color: #f5f5f5;
    }

    .todo-edit::placeholder {
        color: #aaa;
    }

    .todo-icon-edit {
        color: var(--dark-icon-color);
    }
}

@media screen and (max-width: 850px) {
    .todo-edit-dropdown {
        font-size: 12px;
        padding: 5px;
    }
}

@media screen and (max-width: 450px) {
    .todo-icon-edit {
        left: 10px;
    }
}